body {
  font-family: sans-serif;
}
h3 {
  margin: 0;
}
h5 {
  margin: 0;
}
table,
th,
td {
  border: 1px solid #ddd;
  border-collapse: collapse;
}
thead tr {
  background-color: #ccc;
}
tbody tr:nth-child(odd) {
  background-color: #eee;
}
tbody tr:nth-child(even) {
  background-color: #fff;
}
.pane {
  display: inline-block;
  vertical-align: top;
}
.pane.usercontrol input {
  width: 50px;
}
.pane.usercontrol .removeuser {
  margin-left: 4px;
  color: red;
  font-weight: bold;
  cursor: pointer;
}
.pane.userwrap .keyscan-toggle {
  cursor: pointer;
}
.red {
  color: red;
}
.green {
  color: green;
}
.keyscan-node {
  display: inline-block;
  vertical-align: top;
}
.user_keyscans {
  font-size: 12px;
}
.keyscan-node {
  margin: 0 12px 0 12px;
}