<section data-ng-controller="ImgtouchController" class="imgtouch">
  <h1>Phong's Image Toucher</h1>
  <div class="container">
    <file-upload data-img-list="imgList"></file-upload>
    <label>Top Buffer:</label> <input ng-model="topbuffer" ng-init="topbuffer = 0" ng-pattern="/^\d+$/">
    <div class="results_wrap">
      <h2>Screenshot List:</h2>
      <button ng-click="downloadAll(imgList)">Download All</button>
      <!-- <canvas id="canvas"></canvas> -->
      <div class="row">
        <div class="col-xs-12">
          <div class="img-wrap" ng-repeat="img in imgList track by $index">
            <img class="img-responsive"  ng-src="{{img}}">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
